@import "../../../styles/variables";
@import "../../../styles/mixins/mixins";

.menu {
  position: fixed;
  visibility: hidden;
  @include flex(column, space-between, flex-start);
  top: -35px;
  right: -100%;
  width: 240px;
  height: 661px;
  background-color: $primary-black-color;
  padding: 40px 30px 50px;
  border-radius: 10px 0 0 10px;
  @media (min-width: 1070px) {
    display: none;
  }
  @media (max-width: 960px) {
    top: -11px;
  }
  @media (max-width: 560px) {
    padding-inline: 55px;
    border-radius: 0;
    //top: -11px;
    width: 100vw;
    height: 100vh;
  }
  @media (max-width: 390px) {
    padding-inline: 30px;
  }

  .container {
    display: none;
    @media (max-width: 560px) {
      @include flex(row, flex-start, center);
      gap: 10px;
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }

  .closeButton {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  &.hidden {
    transition: right 0.5s;
    visibility: visible;

    right: -51px;
    @media (max-width: 960px) {
      right: -21px;
    }
    @media (max-width: 390px) {
      right: -11px;
    }
  }

  .buttonContainer {
    @include flex(row, flex-start, center);
    gap: 11px;
    margin-bottom: 37px;
  }

  .text {
    margin-bottom: 16px;
  }

  @media (min-width: 1070px) {
    display: none;
  }

}