# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/.idea/.gitignore
/.wrangler/tmp/bundle-0QC7zO/checked-fetch.js
/.wrangler/tmp/bundle-1iS0DU/checked-fetch.js
/.wrangler/tmp/bundle-3IZPPT/checked-fetch.js
/.wrangler/tmp/bundle-CLPYgy/checked-fetch.js
/.wrangler/tmp/bundle-D7McAP/checked-fetch.js
/.wrangler/tmp/bundle-g1UdO2/checked-fetch.js
/.wrangler/tmp/bundle-JxtvXg/checked-fetch.js
/.wrangler/tmp/bundle-LKfawQ/checked-fetch.js
/.wrangler/tmp/bundle-Nq5hJf/checked-fetch.js
/.wrangler/tmp/bundle-PIyoD6/checked-fetch.js
/.wrangler/tmp/bundle-RYf4af/checked-fetch.js
/.wrangler/tmp/bundle-td93Dv/checked-fetch.js
/.wrangler/tmp/bundle-TDb7wG/checked-fetch.js
/.wrangler/tmp/bundle-V3SYdG/checked-fetch.js
/.wrangler/tmp/bundle-VMvfwQ/checked-fetch.js
/.wrangler/tmp/bundle-VQOd76/checked-fetch.js
/.wrangler/tmp/bundle-wtYy2p/checked-fetch.js
/.wrangler/tmp/bundle-yAQIrd/checked-fetch.js
/.wrangler/tmp/bundle-Yt2iPQ/checked-fetch.js
/.wrangler/tmp/bundle-0QC7zO/middleware-insertion-facade.js
/.wrangler/tmp/bundle-1iS0DU/middleware-insertion-facade.js
/.wrangler/tmp/bundle-3IZPPT/middleware-insertion-facade.js
/.wrangler/tmp/bundle-CLPYgy/middleware-insertion-facade.js
/.wrangler/tmp/bundle-D7McAP/middleware-insertion-facade.js
/.wrangler/tmp/bundle-g1UdO2/middleware-insertion-facade.js
/.wrangler/tmp/bundle-JxtvXg/middleware-insertion-facade.js
/.wrangler/tmp/bundle-LKfawQ/middleware-insertion-facade.js
/.wrangler/tmp/bundle-Nq5hJf/middleware-insertion-facade.js
/.wrangler/tmp/bundle-PIyoD6/middleware-insertion-facade.js
/.wrangler/tmp/bundle-RYf4af/middleware-insertion-facade.js
/.wrangler/tmp/bundle-td93Dv/middleware-insertion-facade.js
/.wrangler/tmp/bundle-TDb7wG/middleware-insertion-facade.js
/.wrangler/tmp/bundle-V3SYdG/middleware-insertion-facade.js
/.wrangler/tmp/bundle-VMvfwQ/middleware-insertion-facade.js
/.wrangler/tmp/bundle-VQOd76/middleware-insertion-facade.js
/.wrangler/tmp/bundle-wtYy2p/middleware-insertion-facade.js
/.wrangler/tmp/bundle-yAQIrd/middleware-insertion-facade.js
/.wrangler/tmp/bundle-Yt2iPQ/middleware-insertion-facade.js
/.wrangler/tmp/bundle-0QC7zO/middleware-loader.entry.ts
/.wrangler/tmp/bundle-1iS0DU/middleware-loader.entry.ts
/.wrangler/tmp/bundle-3IZPPT/middleware-loader.entry.ts
/.wrangler/tmp/bundle-CLPYgy/middleware-loader.entry.ts
/.wrangler/tmp/bundle-D7McAP/middleware-loader.entry.ts
/.wrangler/tmp/bundle-g1UdO2/middleware-loader.entry.ts
/.wrangler/tmp/bundle-JxtvXg/middleware-loader.entry.ts
/.wrangler/tmp/bundle-LKfawQ/middleware-loader.entry.ts
/.wrangler/tmp/bundle-Nq5hJf/middleware-loader.entry.ts
/.wrangler/tmp/bundle-PIyoD6/middleware-loader.entry.ts
/.wrangler/tmp/bundle-RYf4af/middleware-loader.entry.ts
/.wrangler/tmp/bundle-td93Dv/middleware-loader.entry.ts
/.wrangler/tmp/bundle-TDb7wG/middleware-loader.entry.ts
/.wrangler/tmp/bundle-V3SYdG/middleware-loader.entry.ts
/.wrangler/tmp/bundle-VMvfwQ/middleware-loader.entry.ts
/.wrangler/tmp/bundle-VQOd76/middleware-loader.entry.ts
/.wrangler/tmp/bundle-wtYy2p/middleware-loader.entry.ts
/.wrangler/tmp/bundle-yAQIrd/middleware-loader.entry.ts
/.wrangler/tmp/bundle-Yt2iPQ/middleware-loader.entry.ts
/.idea/modules.xml
/.idea/my-next-app.iml
/.wrangler/tmp/dev-LSYG4F/pages-shim.js
/.wrangler/tmp/dev-ydfBo4/pages-shim.js
/.wrangler/tmp/dev-LSYG4F/pages-shim.js.map
/.wrangler/tmp/dev-ydfBo4/pages-shim.js.map
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
