@import "@/styles/mixins/mixins";

.main {
  position: relative;
  width: 100%;
  @include flex(column, flex-start, center);

  .h1 {
    @include h1-regular;
    max-width: 565px;
    text-align: center;
    margin-top: 41px;
    margin-bottom: 16px;
  }

  .h2 {
    @include h2-regular;
    margin-bottom: 75px;
    text-align: center;
  }

  .subTitle {
    margin-bottom: 55px;

  }
}