@import "../../../styles/mixins/mixins";

.link {
  position: relative;
  padding: 10px 0;
  @include b2-regular;
  line-height: 122.023%;
  @media (max-width: 1070px) {
    @include b1-regular;
    width: 100%;
  }
  @media (max-width: 390px) {
    font-size: 18px;
  }

  &:before {
    transition: opacity 0.2s;
    opacity: 0;
    position: absolute;
    content: '';
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 1px;
    background: $primary-white-color;
  }

  &:hover {

    @media (max-width: 1070px) {
      text-stroke: 0.3px $primary-white-color;
      -webkit-text-stroke: 0.3px $primary-white-color;
    }

    &:before {
      opacity: 1;
      @media (max-width: 1070px) {
        opacity: 0;
      }
    }
  }

  &:active {
    text-stroke: 0.5px $primary-white-color;
    -webkit-text-stroke: 0.5px $primary-white-color;

    &:before {
      opacity: 0;
    }
  }
}